@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}
html {
  overflow-x: hidden;
}
body {
  transition: all 0.2s;
  overflow-x: hidden;
  background-color: #000000;
}

.purple-gradient {
  background: #c026d3;
  background: linear-gradient(-90deg, #c026d3 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #c026d3 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #fff 1.9%, #c026d3 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #fff 1.9%, #c026d3 97.5%);
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  display: block;
  text-align: center;
  background: black;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}

nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #915eff;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

nav ul li a:hover::before,
nav ul li a:focus::before {
  transform: scale(1);
  box-shadow: 0 0 15px #c026d3;
}

nav ul li a:hover {
  color: #fff;
  box-shadow: 0 0 10px #c026d3;
  text-shadow: 0 0 10px #c026d3, 0 0 20px #c026d3, 0 0 30px #c026d3,
    0 0 40px #c026d3;
}

.glitch {
  position: relative;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 10px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ffff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #c026d3;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

.icon-shadow {
  box-shadow: 0 0 20px #c026d3, 0 0 30px #c026d3, 0 0 40px #c026d3;
}

.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
      0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #c026d3, 0 0 30px #c026d3, 0 0 40px #c026d3,
      0 0 50px #c026d3, 0 0 60px #c637a0, 0 0 70px #c026d3, 0 0 80px #c026d3;
  }
}

.mountains {
  background-image: url("/mountains.png");
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  filter: grayscale(100%);
}

.planets {
  background-image: url("/planets.png");
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  filter: grayscale(100%);
}

.stars {
  background-image: url("/stars.png");
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.shadow-white-right {
  box-shadow: 4px 4px 10px 0px #fff;
}
